<div
  [ngClass]="margin ? 'lg:mr-4': ''"
  class="flex align-items-start mr-0 border-1 border-300 p-2 px-3 border-round"
>
  <span
    class="block border-circle flex align-items-center justify-content-center mr-3"
    [ngClass]="'text-'+color+'-400'"
    style="width: 56px; height: 56px"
    ><i class="text-4xl" [ngClass]="icon"></i
  ></span>
  <div>
    <span class="font-medium text-600">{{ label }}</span>
    <p class="mt-1 mb-0 text-900 text-2xl font-medium">{{ count }}</p>
  </div>
</div>
