::ng-deep {
  .p-customer-table .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
  .toolbar-bg {
    background: #fafafa;
  }
  .action-menu {
    .p-overlaypanel-content {
      padding: 0rem !important;
    }
  }
  @media screen and (max-width: 40rem) {
    .p-datatable {
      &.p-customer-table {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}
