<div class="container">
  <div class="surface-section px-4 py-5 md:px-6 lg:px-8 border-1 border-300">
    <div class="grid">
      <div class="col-12 xl:col-3">
        <span class="inline-flex align-items-center text-900 text-3xl font-medium mb-3 cursor-pointer">
          Customers
        </span>
        <div class="flex align-items-center text-600">
          <span class="mr-5"><i class="pi pi-check-circle mr-2"></i>NicaSource</span>
        </div>
      </div>
      <div class="col-12 xl:col-9">
        <div class="flex flex-wrap flex-column lg:flex-row justify-content-end">
          <app-simple-stat 
            label="Total" 
            [count]="total" 
            color="cyan" 
            icon="pi pi-users">
          </app-simple-stat>
          <app-simple-stat 
            label="Active" 
            [count]="activeCustomers" 
            color="green" 
            icon="pi pi-check">
          </app-simple-stat>
          <app-simple-stat 
            label="Inactive" 
            [count]="inactiveCustomers" 
            color="yellow" 
            icon="pi pi-minus">
          </app-simple-stat>
          <app-simple-stat 
            [margin]="false"
            label="Pending" 
            [count]="pendingCustomers" 
            color="red" 
            icon="pi pi-clock">
          </app-simple-stat>
        </div>
      </div>
    </div>
  </div>  
  <div class="p-4 toolbar-bg border-1 border-200">
    <div class="grid mb-0">
      <div class="xl:col-3 md:col-12 col-12 pb-0">
        <div class="flex">
          <button 
            pButton 
            label="New" 
            class="border-round mr-3"
            icon="pi pi-plus"
            (click)="openCreateView()">
          </button>
          <button 
            pButton
            class="p-button-danger border-round"
            [ngClass]="!selectedCustomers || !selectedCustomers.length ? 'p-button-outlined' : ''"
            icon="pi pi-trash"
            (click)="onToolbarDeleteClick($event)"
            [disabled]="!selectedCustomers || !selectedCustomers.length">
          </button>
        </div>
      </div>
      <div class="xl:col-9 md:col-12 col-12 pb-0">
        <div class="grid">
          <div class="xl:col-6 col-12 pb-0">
            <div class="flex align-items-center">
              <label class="font-bold mr-2">Status: </label>
              <p-selectButton 
                [options]="customerStatusSearch"
                optionLabel="label"
                [(ngModel)]="selectedCustomerStatusSearch"
                (ngModelChange)="onCustomerStatusSearch($event)">
              </p-selectButton>
            </div> 
          </div>
          <div class="xl:col-6 col-12 pb-0">
            <app-dropdown-search 
              (onSearchEvent)="onSearchInput($event)"
              [options]="customerSearchOptions">
            </app-dropdown-search>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-table 
    #customersTable
    styleClass="p-datatable-gridlines"
    class="p-customer-table"
    [value]="customerList" 
    [columns]="customerColumns"
    [paginator]="customerGridSettings.paginator"
    [rows]="customerGridSettings.rows"
    [showCurrentPageReport]="customerGridSettings.showCurrentPageReport" 
    [responsiveLayout]="customerGridSettings.responsiveLayout"
    [currentPageReportTemplate]="customerGridSettings.currentPageReportTemplate" 
    [rowsPerPageOptions]="customerGridSettings.rowsPerPageOptions"
    [rowHover]="customerGridSettings.rowHover"
    [(selection)]="selectedCustomers"
    [dataKey]="customerGridSettings.dataKey"
    [scrollHeight]="customerGridSettings.scrollHeight"
    [sortMode]="customerGridSettings.sortMode">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <ng-container *ngFor="let col of columns">
          <ng-container *ngIf="col.isSortable">
            <th [pSortableColumn]="col.fieldName">
              {{ col.header }} <p-sortIcon [field]="col.fieldName"></p-sortIcon>
            </th>
          </ng-container>
          <ng-container *ngIf="!col.isSortable">
            <th>{{ col.header }}</th>
          </ng-container>
        </ng-container>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns" class="cursor-pointer">
          <span class="p-column-title">{{col.header}}</span>
          <ng-container [ngSwitch]="col.fieldName">
            <ng-container *ngSwitchCase="'status'">
              <app-customers-badge [status]="rowData[col.fieldName]"></app-customers-badge>
            </ng-container>
            <ng-container *ngSwitchDefault>{{ rowData[col.fieldName] }}</ng-container>
          </ng-container>
        </td>
        <td>
          <button 
            pButton 
            click-stop-propagation
            icon="pi pi-ellipsis-h" 
            class="p-button-outlined p-button-secondary p-button-sm menu-items"
            (click)="op.toggle($event)">
          </button>
          <p-overlayPanel #op styleClass="action-menu">
            <ng-template pTemplate>
              <p-menu #menuItems [model]="actionsMenu | customerActionMenu: rowData" styleClass="p-0 border-none"></p-menu>
            </ng-template>
          </p-overlayPanel>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">No records found</td>
      </tr>
    </ng-template>
  </p-table>  
</div>
<p-toast [key]="TOAST_KEY" position="top-right"></p-toast>
<p-confirmPopup [key]="POPUP_KEY"></p-confirmPopup>
<p-confirmDialog 
  [key]="DIALOG_KEY"
  header="Confirmation" 
  icon="pi pi-exclamation-triangle" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
