.customers-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-active {
    background: #C8E6C9;
    color: #256029;
  }
  &.status-inactive {
    background: #FEEDAF;
    color: #8a5340;
  }
  &.status-pending {
    background: #FFCDD2;
    color: #c63737;
  }
}