<div class="container mt-4">
  <div class="surface-section px-4 xl:px-0">
    <app-back-button></app-back-button>
    <br><br>  
    <p-breadcrumb [model]="breadcrumbItems" styleClass="p-0 border-0"></p-breadcrumb>
    <br><br>
    <div class="flex flex-column">
      <div class="font-bold text-3xl text-900 mb-3">{{header}}</div>
      <div class="text-500 mb-5">Here you can create a new customer</div>
    </div>
    <br>
    <form action="#" [formGroup]="customerForm!">
      <div class="grid">
        <div class="col-12 md:col-6">
          <div class="field">
            <label for="firstName" class="block">First Name</label>
            <input formControlName="firstName" id="firstName" class="w-full" pInputText placeholder="Ex: John" />
            <small 
              class="p-error block" 
              *ngIf="this.customerForm?.get('firstName')?.invalid && saveButtonClicked">
              First Name is required
            </small>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="field">
            <label for="lastName" class="block">Last Name</label>
            <input formControlName="lastName" id="lastName" class="w-full" pInputText placeholder="Ex: Smith" />
            <small 
              class="p-error block" 
              *ngIf="this.customerForm?.get('lastName')?.invalid && saveButtonClicked">
              Last Name is required
            </small>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="status" class="block">Status</label>
        <p-dropdown 
          formControlName="status" 
          [options]="customerStatusList" 
          styleClass="w-full"
          optionLabel="label"
          optionValue="value">
        </p-dropdown>
        <small 
          class="p-error block" 
          *ngIf="this.customerForm?.get('status')?.invalid && saveButtonClicked">
          Status is required
        </small>
      </div>
      <div class="field">
        <label for="email" class="block">Email</label>
        <input formControlName="email" id="email" type="email" class="w-full" pInputText placeholder="Ex: john_smith@email.com" />
        <small 
          class="p-error block" 
          *ngIf="this.customerForm?.get('email')?.hasError('required') && saveButtonClicked">
          Email is required
        </small>
        <small 
          class="p-error block" 
          *ngIf="this.customerForm?.get('email')?.hasError('email') && saveButtonClicked">
          Email not valid
        </small>
      </div>
      <div class="field">
        <label for="phone" class="block">Phone</label>
        <p-inputMask 
          mask="(999) 999-9999" 
          formControlName="phone" 
          placeholder="(999) 999-9999"
          styleClass="w-full">
        </p-inputMask>
      </div>
      <br>
      <div class="flex">
        <button 
          pButton 
          type="button"
          label="Cancel" 
          class="p-button-danger p-button-outlined flex-1 xl:flex-none" 
          icon="pi pi-times"
          (click)="goBack()">
        </button>
        <div class="ml-auto">
          <button 
            pButton 
            type="button"
            label="Reset" 
            class="p-button-danger flex-1 mr-3 xl:flex-none" 
            icon="pi pi-refresh"
            (click)="onResetClick()">
          </button>
          <button 
            pButton 
            type="button"
            label="Save" 
            class="p-button-success flex-1 xl:flex-none" 
            icon="pi pi-save"
            (click)="onSaveClick()">
          </button>
        </div>
      </div>
      <br><br>
    </form>
  </div>
</div>
