<div class="p-inputgroup">
  <div class="p-inputgroup-addon p-0">
    <p-dropdown
      [appendTo]="'body'"
      [options]="options"
      styleClass="w-full border-none font-bold dropdown-search"
      optionLabel="label"
      [(ngModel)]="selectedOption"
      (ngModelChange)="resetInputValue()"
      [ngClass]="sizeClass"
    >
    </p-dropdown>
  </div>
  <input
    #searchInput
    pInputText
    [ngClass]="sizeClass"
    [placeholder]="selectedOption?.placeholder"
    [(ngModel)]="inputValue"
    [type]="'search'"
    (search)="onSearch()"
  />
</div>