<div class="container mt-4">
  <ng-container *ngIf="customer">
    <div class="surface-section">
      <app-back-button></app-back-button>
      <br><br>    
      <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
          <a 
            (click)="goToCustomersList()"
            class="text-500 no-underline line-height-3 cursor-pointer"
            >Customers</a
          >
        </li>
        <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
        <li>
          <a class="text-500 no-underline line-height-3 cursor-pointer">Detail</a>
        </li>
        <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
        <li>
          <span class="text-900 line-height-3 surface-200 p-2 border-round">
            {{customer.id}}
          </span>
        </li>
      </ul>
      <br>
      <div class="flex align-items-center">
        <div class="flex flex-column">
          <div class="font-bold text-3xl text-900 mb-3">Customer Information</div>
          <div class="text-500 mb-5">This is all the customer information.</div>
        </div>
        <div class="ml-auto">
          <div class="flex">
            <button 
              pButton 
              pRipple 
              label="Delete" 
              icon="pi pi-trash" 
              class="p-button-outlined p-button-danger mr-3">
            </button>
            <button 
              pButton 
              pRipple 
              label="Edit" 
              icon="pi pi-pencil" 
              class="p-button-outlined">
            </button>
          </div>
        </div>
      </div>     
      <p-accordion>
        <p-accordionTab header="Information" [selected]="true">
          <ul class="list-none p-0 m-0">
            <li class="flex align-items-center py-4 px-2 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">First Name</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{customer.firstName}}</div>
            </li>
            <li class="flex align-items-center py-4 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Last Name</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{customer.lastName}}</div>
            </li>
            <li class="flex align-items-center py-4 px-2 border-top-1 surface-border flex-wrap">
                <div class="text-500 w-6 md:w-2 font-medium">Status</div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                  <app-customers-badge [status]="customer.status"></app-customers-badge>
                </div>
            </li>
            <li class="flex align-items-center py-4 px-2 border-top-1 surface-border flex-wrap">
                <div class="text-500 w-6 md:w-2 font-medium">Email</div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{customer.email}}</div>
            </li>
            <li class="flex align-items-center py-4 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Phone</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">{{customer.phone}}</div>
            </li>
          </ul>
        </p-accordionTab>
      </p-accordion>       
    </div>
  </ng-container>
</div>